<form [formGroup]="loginForm" (ngSubmit)="Login()">
<div class="login">

    <h2 id="name">BANK</h2><br> 
  <div id="kl"> {{aim}}</div> 
<input class="acn" type="text" name="txt" formControlName="accnum" placeholder="Account Number=1000" [value]="accountnumber">  <br>
<div *ngIf="(this.loginForm.get('accnum')?.touched || this.loginForm.get('accnum')?.dirty) && this.loginForm.get('accnum')?.errors"   class="error">Invalid Account Number</div><br>
<input  class="pwd" type="password" name="txt" formControlName="pswd" placeholder="Password=testone" [value]="password"> <br>
<div *ngIf="(this.loginForm.get('pswd')?.touched || this.loginForm.get('pswd')?.dirty) && this.loginForm.get('pswd')?.errors"   class="error">Invalid Password</div><br>
<button (click)="Login()"  id="btt" type="submit" class="btn">Login</button>
<button (click)="register()"  id="btt" type="submit" class="btn">Register</button>
</div>
</form>




