.can{
    background-color:grey;
    color: black;
   

}
.del{
    background-color: red;
    color: black;
    margin-right: 27%;
}
.bttns{
 margin-left: 15%;

}
.mai{
    border: 2px solid chocolate;
    
    margin-top: 10%;    
    background-color: lemonchiffon;
    width: 300px;

}
#pp{
    margin-left: 7%;
}